<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <queries>
        <package android:name="com.miui.voiceassist" />
        <package android:name="com.android.deskclock" />
    </queries>

    <application
        android:name=".IslandNotifyApp"
        android:label="@string/app_name"
        android:description="@string/app_description"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:theme="@style/Theme.XiaoaiIsland">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:enableOnBackInvokedCallback="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LegacyMainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:enableOnBackInvokedCallback="false"
            android:windowSoftInputMode="adjustResize" />

        <activity-alias
            android:name=".MainActivityAlias"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <receiver android:name=".TotalWeekReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.xiaoai.islandnotify.ACTION_UPDATE_TOTAL_WEEK" />
            </intent-filter>
        </receiver>

        <receiver android:name=".CourseDataStatusReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.xiaoai.islandnotify.ACTION_PUSH_COURSE_DATA_STATUS" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
